

.hep{
    height: 45rem;
}
@media (max-width:803px) {
    .fulls-diy{
        height: 75rem;
    }
}

.sele{
    font-family: inherit;
    font-size: 1rem;
    font-weight: normal;
    line-height: inherit;
    cursor: pointer;
    user-select: none;
    padding: 0.65rem 1.25rem;
    background-color: var(--color-white);
    transition: all 0.2s ease-in-out;
}